$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

$darkGreenFont: #496D26;
$hinokiGreen: #7FBD43;
$lightGreen: #D2E3A1;
$greenBackground: #B3CC90;
$buttonWhite: #e2f0d5;
$sky: #D6ECFF;
$arrowColor: #6BA038;

// FIXME extending bootstrap default classes
// navbar {
//     @extend .navbar-default;
// }

// navbar overrides
$navbar-default-color:             blue !default;
$navbar-default-bg:                green !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;


.tree-background {
    color: $darkGreenFont;
    background: url('../images/tree-320.png') no-repeat top;
    height: 320px;
    border-bottom: 5px solid $hinokiGreen;
    h2 {
        font-weight: bold;
    }
}

.sky {
    background: -webkit-linear-gradient(top, $sky, white);
    background: -moz-linear-gradient(top, $sky, white);
    background: linear-gradient(top, $sky, white);
    min-width: 295px;
    padding: 0px;
    box-shadow: 0px 0px 15px #888888;
}

.navbar-brand {
    font-weight: bold;
}

p.title {
    font-size: 28px;
    font-weight: bold;
    color: $hinokiGreen;
    vertical-align: middle;
    display: inline;
}

p.info {
    font-size: 16px;
    color: $darkGreenFont;
    min-height: 44px;
}

.fixed-desc {
    //background: $lightGreen;
    background: rgb(255, 255, 255) transparent; /* default fallback */
    background: rgba(255, 255, 255, 0.6); /* nice browsers */
    width: 270px;
    padding: 15px 5px 15px 10px;
    margin: 10px 5px 10px 5px;
    @media only screen and (min-width: 430px) { border-radius: 15px; }
}

@media all and (max-width: 770px) {
    .phone-align {
        margin-left:auto;
        margin-right:auto;
    }
}

@media all and (min-width: 771px) {
    .right {
        float: right;
    }
    .left {
        float: left;
    }
}

img.image-icon {
    vertical-align: middle;
}

div.under-tree {
    background: $greenBackground;
    padding-bottom: 10px;
    padding-top: 10px;
}

.green-fade {
    text-align: center;
    border-top: 5px solid $hinokiGreen;
}

/* http://charliepark.org/bootstrap_buttons/ */

/*
.btn-custom { background-color: hsl(90, 48%, 47%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$buttonWhite", endColorstr="$hinokiGreen"); background-image: -khtml-gradient(linear, left top, left bottom, from($buttonWhite), to($hinokiGreen)); background-image: -moz-linear-gradient(top, $buttonWhite, $hinokiGreen); background-image: -ms-linear-gradient(top, $buttonWhite, $hinokiGreen); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $buttonWhite), color-stop(100%, $hinokiGreen)); background-image: -webkit-linear-gradient(top, $buttonWhite, $hinokiGreen); background-image: -o-linear-gradient(top, $buttonWhite, $hinokiGreen); background-image: linear-gradient($buttonWhite, $hinokiGreen); border-color: $hinokiGreen $hinokiGreen hsl(90, 48%, 36.5%); color: $darkGreenFont !important; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.69); -webkit-font-smoothing: antialiased; vertical-align:bottom; font-size: 30px; text-align: left; font-weight: bold;}

.arrow {
    color: $arrowColor;
}
*/