//$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";

//@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
//@import 'bootstrap-sass/assets/stylesheets/bootstrap.scss';
@import 'bootstrap';

$darkGreenFont: #496D26;
$hinokiGreen: #7FBD43;
$lightGreen: #D2E3A1;
$greenBackground: #B3CC90;
$buttonWhite: #e2f0d5;
$sky: #E4F7FE;
$arrowColor: #6BA038;

//.custom-navbar {
//    @extend .navbar;
//    @extend .navbar-default;
//    @extend .navbar-static-top;
//    color: $navbar-default-color;
//    background-color: $navbar-default-bg !important;
//    border-color: $navbar-default-border;
//}


body {
    background: white; //lighten($lightGreen, 15%); //$sky;
}

a {
    &:link, &:active, &:visited {
        color: inherit;
    }
    &:hover {
        color: $darkGreenFont !important;
    }
}

.sky {
    background: -webkit-linear-gradient(top, $sky, $lightGreen);
    background: -moz-linear-gradient(top, $sky, $lightGreen);
    background: -o-linear-gradient(top, $sky, $lightGreen);
    background: linear-gradient(to bottom, $sky, $lightGreen);
    padding: 0px;
    height: 100%;
    box-shadow: 0px 0px 20px $sky;//$lightGreen;
    //border-color: $hinokiGreen;
    //border-style: solid;
    //border-width: 0 1px 0 1px;
}

.tree-background {
    background: url('../images/tree-320.png') no-repeat right 10px center;
    height: 330px;
    border-bottom: 10px solid $hinokiGreen;
}

.shout {
    h2 {
        @media only screen and (max-width: 767px) { background: rgba(255,255,255,0.5); }
        display: inline-block;
        color: $darkGreenFont;
        padding: 0 10px 0 10px;
        font-weight: bold;
    }
}

.summary {
    @extend .col-sm-6;
    @extend .col-md-8;
    @extend .col-lg-8;
    @media only screen and (max-width: 767px) { background: rgba(255,255,255,0.5); }
    p {
        font-size: 18px;
    }
}

.navbar-brand {
    font-weight: bold;
    font-size: 22px;
}

p.title {
    font-size: 28px;
    font-weight: bold;
    color: $hinokiGreen;
    vertical-align: middle;
    display: inline;
}

.under-tree {
    background: $greenBackground;
    //padding-bottom: 10px;
    //padding-top: 10px;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
}

.system-btn {
    @extend .col-xs-offset-1;
    @extend .col-xs-11;
    @extend .col-sm-offset-1;
    @extend .col-sm-11;
    @extend .col-md-offset-1;
    @extend .col-md-11;
    @extend .col-lg-offset-1;
    @extend .col-lg-11;

    @extend .btn;

    //@extend .center-block;

    white-space: break-word; // This helps text folding, but is too aggresive??
    display: inline-block;
    float: none;
    text-align: left;

    height: 150px;
    min-width: 250px;

    background: rgb(255, 255, 255) transparent; /* default fallback */
    background: rgba(255, 255, 255, 0.6); /* nice browsers */
    //width: 270px;
    //padding: 15px 5px 15px 10px;
    margin: 20px;
    //@media only screen and (min-width: 430px) { border-radius: 15px; }
    a:link {
        color: $darkGreenFont;
        text-decoration: none;
    }
    h2 {
        @extend .col-lg-4;
        color: $darkGreenFont;
        font-weight: bold;
    }
    h3 {
        @extend .col-lg-4;
        color: $darkGreenFont;
    }
    span {
        color: $darkGreenFont;
        font-size: 16px;
        font-weight: normal;
    }
    p {
        font-size: 16px;
        color: $darkGreenFont;
    }
}

.footer {
    //@extend .navbar;
    //@extend .navbar-static-bottom;
    background: $lightGreen;
    text-align: center;
    //vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 10px;
    border-top: 10px solid $hinokiGreen;
}

// http://smarchal.com/twbscolor/?bd=e74c3c&bh=c0392b&cd=ecf0f1&ch=ffbbbc
$bgDefault      : $lightGreen;//#60c0ff;
$bgHighlight    : $darkGreenFont;//#004979;
$colDefault     : #000000;
$colHighlight   : #ffffff;
.navbar-default {
	background-color: $bgDefault;
	border-color: $bgHighlight;
	.navbar-brand {
		color: $colDefault;
		&:hover, &:focus {
			color: $colHighlight; }}
	.navbar-text {
		color: $colDefault; }
	.navbar-nav {
		> li {
			> a {
				color: $colDefault;
				&:hover,  &:focus {
					color: $colHighlight; }}}
		> .active {
			> a, > a:hover, > a:focus {
				color: $colHighlight;
				background-color: $bgHighlight; }}
		> .open {
			> a, > a:hover, > a:focus {
				color: $colHighlight;
				background-color: $bgHighlight; }}}
	.navbar-toggle {
		border-color: $bgHighlight;
		&:hover, &:focus {
			background-color: $bgHighlight; }
		.icon-bar {
			background-color: $colDefault; }}
	.navbar-collapse,
	.navbar-form {
		border-color: $colDefault; }
	.navbar-link {
		color: $colDefault;
		&:hover {
			color: $colHighlight; }}}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu {
		> li > a {
			color: $colDefault;
			&:hover, &:focus {
				color: $colHighlight; }}
		> .active {
			> a, > a:hover, > a:focus, {
				color: $colHighlight;
				background-color: $bgHighlight; }}}
}